extends ./layout/main.pug 

block styles
    link(rel="stylesheet", href="css/style.css")

block content
    div.center 
        h1 #{text}
    hr
    div.center
        if names.length > 0
            each i in names
                if i === 'davod'
                    p is name #{i.name} 
                    p is age #{i.age}
                else 
                    p is name #{i.name} 
        else 
            h1 هیچ داده ای موجود نیست            