    <%- include('./includes/header') %>

<h1 class="text-center text-success">به نام خداوند بخشنده مهربان</h1>
<i class="fa fa-user"></i>
<button class="btn btn-secondary">test</button>

<%- include('./includes/footer') %>