<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>
        <%= titlePage %>
    </title>
</head>

<body>
    <div class="center">
        <h1>
            <%= text %>
        </h1>
        <hr>
        <div>
            <% if(names.length> 0) { %>
                <div>
                    <% for(let person of names) {%>
                        <p>
                            <%= person.name %> ==== <%=person.age %>
                        </p>
                        <% } %>
                </div>
                <% } else { %>
                    <h1>هیچ مقداری وجود ندارد </h1>
                <% } %>
        </div>
    </div>
</body>

</html>