<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
    <h1 class="text-center text-success">به نام خداوند بخشنده مهربان</h1>
    <i class="fa fa-user"></i>
    <button class="btn btn-secondary">test</button>
</body>

</html>