<!DOCTYPE html>
<html lang="en">

<%- include ('./includes/head.ejs')  %>

<body>
    <div class="center">
        <h1>
            <%= text %>
        </h1>
        <h3>
            <a href="#" class="<%= path === "/" ? "active" : path === "/about" ? "about" : "laqh" %>">test link</a>
        </h3>
        <hr>
        <div>
            <%- include ('./includes/names.ejs') %>
        </div>
    </div>
</body>

</html>