<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <title><%= pageTitle %></title>
</head>
<body>

    <div class="form-group">
        <h1>کار های روزمره</h1>
        <form action="/admin/add-todo" role="form" class="row w-50 justify-content-center mx-auto" method="post">

        </form>
    </div>
    
</body>
</html>