<div class="center">
  <h1>{{text}}</h1>

  <hr />
  {{#if hasName}}
    {{#each names}}
      <p>{{this.name}} === {{this.age}}</p>
    {{/each}}

  {{else}}
    <h1>هیج مقداری وجود ندارد</h1>
  {{/if}}

</div>